body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#0b0014;
  color:white;
  text-align:center;
}

.screen { display:none; padding:30px; }
.screen.active { display:block; }

.gift {
  background:#ff4da6;
  margin:15px;
  padding:15px;
  border-radius:15px;
  font-size:20px;
}

.kiss-bg {
  background:url("p4.jpg") center/cover no-repeat;
  min-height:100vh;
}

.kiss {
  font-size:100px;
  animation: kiss 1.5s infinite;
}

@keyframes kiss {
  0%{transform:scale(1)}
  50%{transform:scale(1.3)}
  100%{transform:scale(1)}
}

.hearts {
  font-size:40px;
  animation: float 3s infinite;
}

@keyframes float {
  0%{transform:translateY(0)}
  50%{transform:translateY(-20px)}
  100%{transform:translateY(0)}
}