body {
  margin:0;
  font-family:Segoe UI;
  background:#0d0018;
  color:white;
  text-align:center;
}

.screen { display:none; padding:25px; }
.screen.active { display:block; }

.card {
  background:#1c0033;
  padding:30px;
  border-radius:15px;
}

input, button {
  padding:10px;
  border-radius:10px;
  border:none;
  margin:10px;
}

.gift {
  background:#ff4da6;
  margin:15px;
  padding:15px;
  border-radius:15px;
}

.choice img {
  width:120px;
  margin:20px;
}

.gallery { display:none; }
.gallery img {
  width:90px;
  margin:5px;
  border-radius:10px;
}

.letter p {
  max-width:600px;
  margin:auto;
  line-height:1.6;
}

.gift4 {
  background:url("p4.jpg") center/cover no-repeat;
  min-height:100vh;
}

.center {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:80vh;
}

.kiss {
  font-size:90px;
  animation:pulse 1.5s infinite;
}

@keyframes pulse {
  0%{transform:scale(1)}
  50%{transform:scale(1.3)}
  100%{transform:scale(1)}
}

.heart {
  font-size:40px;
  margin:10px;
}