body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1a002d, #06000f);
  color: white;
  text-align: center;
}

.screen {
  display: none;
  min-height: 100vh;
  padding: 30px;
}

.screen.active {
  display: block;
  animation: fade 0.7s ease;
}

@keyframes fade {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1; transform:translateY(0);}
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 35px;
  border-radius: 20px;
  max-width: 320px;
  margin: 120px auto;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

#error {
  display: none;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(135deg,#ff4da6,#ff80bf);
  color: white;
  cursor: pointer;
}

.gift {
  background: rgba(255,255,255,0.12);
  padding: 18px;
  margin: 20px auto;
  max-width: 250px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(255,0,150,0.4);
}

.timeline {
  max-width: 600px;
  margin: 40px auto;
  border-left: 3px solid rgba(255,255,255,0.3);
  padding-left: 25px;
}

.event {
  background: rgba(255,255,255,0.08);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.choices img {
  width: 120px;
  border-radius: 18px;
  margin: 20px;
}

.gallery {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
  gap: 15px;
  max-width: 420px;
  margin: 30px auto;
}

.gallery img {
  width: 100%;
  border-radius: 14px;
  transition: 0.4s;
}

.gallery img:hover {
  transform: scale(1.15);
}

.letter {
  max-width: 720px;
  margin: auto;
  font-size: 17px;
  line-height: 1.9;
}

.gift4 {
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("p4.jpg") center/cover no-repeat;
}

.proposal {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proposal-img {
  width: 220px;
  border-radius: 20px;
  margin-bottom: 20px;
}